.block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #757575;
    margin-top:1em;
    margin-bottom: 7em;
    height: 4em;
    width: 4em;
    border-radius: 100%;
    background-color: cornflowerblue;
    animation: pulse 1s infinite;
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 0px rgba(236, 228, 228, 0.1);
      }
      100% {
        box-shadow: 0 0 0 70px rgba(184, 165, 165, 0);
      }
}
