.container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-areas: "left middle right"
   "ft ft ft";
   column-gap: 0;
}

.leftNav{
grid-area: left;
display:flex;
flex-direction: column;
}

.rightNav{
grid-area: right;
display:flex;
flex-direction: column;
}

.profile{
grid-area: middle;
margin-top: 1em;
}

.footer{
grid-area: ft;
margin-top: 5em;
}

.description{
     color:whitesmoke;
     width: 14em;
}

img{
   border-radius: 50%;
   height: 180px;
   width:180px;
}

@media (min-width: 320px) and (max-width: 480px) {
   .container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
}