.container-project-card{
    display: flex;
    padding: 1em;
    margin: 1em;
    flex-direction: column;
    max-width:30em;
    color: antiquewhite;
    border-radius: 20%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 3px 5px #f2e1f2;
}

.projectImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectDescription{
    display: flex;
    flex-direction: column;
}

.description-projectStack{
    display: flex;
    color: antiquewhite;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
}